<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monster - {{ result.title }}</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="referrer" content="never">
    <link rel="icon" href={{ url_for("static", filename = "images/index.ico") }}>
    <link rel="stylesheet" href={{ url_for("static", filename = "css/style.css") }}>
</head>
<body>
<div class="nav">
    <div class="front">
        <ul>
            <li><a href="{{ url_for("index") }}">主页</a></li>
            <li><a href="{{ url_for("index") }}">接口</a></li>
            <li><a href="{{ url_for("index") }}">下载</a></li>
            <li><a href="{{ url_for("index") }}">帮助</a></li>
            <li><a href="{{ url_for("index") }}">关于</a></li>
        </ul>
    </div>
</div>
<div class="img-content">
    <div class="img-title">
        <p><a href="{{ result.url }}" target="_blank">{{ result.title }}</a></p>
        <img src="{{ result.image }}" alt="{{ result.title }}" id="image">
        <div class="button">
            <a href="" id="download">下载</a>
            <a href="{{ result.image }}" target="_blank">查看</a>
        </div>
    </div>
</div>
<div class="footer">
    <p>版权 © 2021 <a href="/">MyWord</a></p>
</div>
<script>
    const request = new XMLHttpRequest();
    const url = document.getElementById("image").src;
    request.open("GET", url, true);
    request.responseType = 'blob';
    request.onload = function () {
        const url = window.URL.createObjectURL(request.response);
        const a = document.getElementById("download");
        a.href = url
        a.download = ''
    }
    request.send();
</script>
</body>
</html>