<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monster's Home</title>
    <link rel="icon" href={{ url_for("static", filename = "images/index.ico") }}>
    <link rel="stylesheet" href={{ url_for("static", filename = "css/style.css") }}>
</head>
<body>
<div class="nav">
    <div class="front">
        <ul>
            <li><a href="{{ url_for("index") }}">主页</a></li>
            <li><a href="{{ url_for("index") }}">接口</a></li>
            <li><a href="{{ url_for("index") }}">下载</a></li>
            <li><a href="{{ url_for("index") }}">帮助</a></li>
            <li><a href="{{ url_for("index") }}">关于</a></li>
        </ul>
    </div>
</div>
<div class="content">
    <h1>bilibili封面提取工具</h1>
    <form action="{{ url_for("handleResult") }}" method="post" class="form">
        <p>小技巧: 粘贴B站APP里的分享链或者网页复制的视频地址都可以以哦</p>
        <input type="text" value="" class="text" name="text">
        <button>解析</button>
    </form>
</div>
<div class="footer">
    <p>版权 © 2021 <a href="/">MyWord</a></p>
</div>
</body>
</html>