<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monster - {{ result.title }}</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="referrer" content="never">
    <link rel="icon" href={{ url_for("static", filename = "images/index.ico") }}>
    <link rel="stylesheet" href={{ url_for("static", filename = "css/style.css") }}>
</head>
<body>
<div class="nav">
    <div class="front">
        <ul>
            <li><a href="{{ url_for("index") }}">主页</a></li>
            <li><a href="{{ url_for("index") }}">接口</a></li>
            <li><a href="{{ url_for("index") }}">下载</a></li>
            <li><a href="{{ url_for("index") }}">帮助</a></li>
            <li><a href="{{ url_for("index") }}">关于</a></li>
        </ul>
    </div>
</div>
<div class="img-content">
    <div class="img-title">
        <p><a href="{{ result.url }}" target="_blank">{{ result.title }}</a></p>
        <img src="{{ result.cover }}" alt="{{ result.title }}">
        <div class="button">
            <a href="#">下载</a>
            <a href="{{ result.cover }}" target="_blank">查看</a>
        </div>
    </div>
    <div class="img-data">
        {% for pv in pvs -%}
            <div class="img">
                <div class="id-data">
                    <span>BV号: {{ pv.bvid }}</span>
                    <span><a href="{{ pv.url }}" target="_blank">《{{ pv.title }}》</a></span>
                    <span>AV号: {{ pv.avid }}</span>
                </div>
                <img src="{{ pv.image }}" alt="{{ pv.title }}" title="{{ pv.title }}">
                <div class="button">
                    <a href="#">下载</a>
                    <a href="{{ pv.image }}" target="_blank">查看</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>