<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ result.title }} - bilibili封面提取工具</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="referrer" content="never">
    <link rel="icon" href={{ url_for("static", filename = "images/index.ico") }}>
    <link rel="stylesheet" href={{ url_for("static", filename = "css/style.css") }}>
    <script type="text/javascript" src={{ url_for("static", filename = "js/download.js") }}></script>
</head>
<body>
<div class="nav">
    <div class="front">
        <ul>
            <li><a href="{{ url_for("index_page") }}" target="_blank">主页</a></li>
            <li><a href="{{ url_for("api_page") }}" target="_blank">接口</a></li>
            <li><a href="{{ url_for("download") }}" target="_blank">下载</a></li>
            <li><a href="{{ url_for("blog") }}" target="_blank">关于</a></li>
        </ul>
    </div>
</div>
<div class="img-title">
    <p><a href="{{ result.url }}" target="_blank">{{ result.title }}</a></p>
</div>
<div class="img-content">
    <img src="{{ result.image }}" title="{{ result.title }}" alt="{{ result.title }}" id="image">
</div>
<div class="button">
    <button onclick="downloadImage('{{ result.image }}')">下载</button>
    <button onclick="window.open('{{ result.image }}')">查看</button>
    <button onclick="location.assign('{{ url_for("index") }}')">返回</button>
</div>
</body>
</html>