<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>error</title>
    <link rel="icon" href={{ url_for("static", filename = "images/index.ico") }}>
    <link rel="stylesheet" href={{ url_for("static", filename = "css/style.css") }}>
</head>
<body>
<div class="nav">
    <div class="front">
        <ul>
            <li><a href="{{ url_for("index_page") }}" target="_blank">主页</a></li>
            <li><a href="{{ url_for("api_page") }}" target="_blank">接口</a></li>
            <li><a href="{{ url_for("download") }}" target="_blank">下载</a></li>
            <li><a href="{{ url_for("blog") }}" target="_blank">关于</a></li>
        </ul>
    </div>
</div>
<div class="content" style="margin: 0 auto; text-align: center">
    <h1>{{ result.msg }}</h1>
    <div class="button">
        <button onclick="window.location.href='{{ url_for("index") }}'">返回</button>
    </div>
</div>
</div>
</body>
</html>