<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{ result.title }} - bilibili封面提取工具</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="referrer" content="never">
    <link rel="icon" href={{ url_for("static", filename = "images/index.ico") }}>
    <link rel="stylesheet" href={{ url_for("static", filename = "css/style.css") }}>
    <script type="text/javascript" src={{ url_for("static", filename = "js/download.js") }}></script>
    <script type="text/javascript" src={{ url_for("static", filename = "js/scroll.js") }}></script>
</head>
<body>
<div class="nav">
    <div class="front">
        <ul>
            <li><a href="{{ url_for("index_page") }}" target="_blank">主页</a></li>
            <li><a href="{{ url_for("api_page") }}" target="_blank">接口</a></li>
            <li><a href="{{ url_for("download") }}" target="_blank">下载</a></li>
            <li><a href="{{ url_for("blog") }}" target="_blank">关于</a></li>
        </ul>
    </div>
</div>
<div class="img-content">
    <div class="img-title" id="top">
        <p><a href="{{ result.url }}" target="_blank">{{ result.title }}</a></p>
        <img src="{{ result.cover }}" alt="{{ result.title }}">
        <div class="button">
            <button onclick="downloadImage('{{ result.cover }}')">下载</button>
            <button onclick="window.open('{{ result.cover }}')">查看</button>
        </div>
    </div>
    <div class="img-data">
        {% for ep in eps -%}
            <div class="img">
                <div class="id-data">
                    <span>BV号: {{ ep.bvid }}</span>
                    <span><a href="{{ ep.url }}" target="_blank">《{{ ep.title }}》</a>第{{ ep.volume }}话</span>
                    <span>AV号: {{ ep.avid }}</span>
                </div>
                <img src="{{ ep.image }}" alt="{{ ep.title }}" title="{{ ep.title }}">
                <div class="button">
                    <button onclick="downloadImage('{{ ep.image }}')">下载</button>
                    <button onclick="window.open('{{ ep.image }}')">查看</button>
                </div>
            </div>
        {% endfor %}
        {% for pv in pvs -%}
            <div class="img">
                <div class="id-data">
                    <span>BV号: {{ pv.bvid }}</span>
                    <span><a href="{{ pv.url }}" target="_blank">《{{ pv.title }}》</a></span>
                    <span>AV号: {{ pv.avid }}</span>
                </div>
                <img src="{{ pv.image }}" alt="{{ pv.title }}" title="{{ pv.title }}">
                <div class="button">
                    <button onclick="downloadImage('{{ pv.image }}')">下载</button>
                    <button onclick="window.open('{{ pv.image }}')">查看</button>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="tool">
    <button class="back_top" onclick="scrollToTop()">
        <span>顶部</span>
    </button>
    <button class="back_index" onclick="location.assign('{{ url_for("index") }}')">
        <span>返回</span>
    </button>
</div>
</body>
</html>