{% extends "base.html" %}
{% block title -%}合集{%- endblock %}
{% block head -%}
	{{ super() }}
{%- endblock %}
{% block nav -%}
	{{ super() }}
{%- endblock %}
{% block content -%}
<div class="img-content">
    <div class="img-data" id="top">
        {% for item in result -%}
            <div class="img">
                <div class="id-data">
                    <span>BV号: {{ item.bvid }}</span>
                    <span><a href="{{ item.url }}" target="_blank">《{{ item.title }}》</a></span>
                    <span>AV号: {{ item.avid }}</span>
                </div>
                <img src="{{ item.image }}" alt="{{ item.title }}" title="{{ item.title }}" id="image">
                <div class="button">
                    <button onclick="downloadImage('{{ item.image }}')">下载</button>
                    <button onclick="window.open('{{ item.image }}')">查看</button>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{%- endblock %}
